/* GENERALE */
*{
    margin: 0;
}
/* NAVIGATION BAR */
.nav {
    background-color: white;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    line-height: 50px;
}
ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    flex-direction: row;    
}
li {
    margin: 0 15px;
    padding: 5px;
    font-size: 20px;    
}
.nav-img {
    display: flex;
    padding: 0 20px;
}

/* MAIN */
main{
    background-color: grey;    
}
    /* JUMBOTRON */
.jumbotron{
    background-image: url('../images/jumbotron.jpg');
    height: 60vh;
    width: 100%;
}
    /* COMICS */
.container{
    width: 80%;
    margin: 2vh auto;  
    padding: 20px 20px 30px 20px;      
}
.row{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
}
.card{
    width: calc(100% / 6);    
}

.none{
    text-decoration: none;
    color: black;
}

.center{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}