.nav {
    background-color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    line-height: 50px;
}

/*LIST CHANGES */
ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    flex-direction: row;

    
}
li {
    margin: 0 15px;
    padding: 5px;
    font-size: 20px;    
}

.nav-img {
    display: flex;
    padding: 0 20px;
}